body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

.login-card {
    background: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 9.5pt;
    font-weight: bold;
    color: #4a5568;
}

input {
    border: 1px solid #cbd5e1;
    border-radius: 4px;
}

/* Penambahan Sesuai Ketentuan LKPD Halaman 4 */
.alert {
    background: #e44e4e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #b32929;
    border-radius: 4px;
    font-weight: bold;
}

#message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 9.5pt;
}

#alertBox {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    min-width: 250px;
}